a {
  color: var(--white);
  text-decoration: none;
}

.nav__item, .footer__text {
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.nav__item:hover a {
  color: var(--orange);

}

.title {
  color: var(--orange);
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 4rem);
}

.subtitle {
  color: var(--white);
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.2rem);
}


.card__title {
  font-weight:800;
  font-size: clamp(1rem, 6vw, 1.7rem);
}

.card__text-content {
  font-size: clamp(.9rem, 4vw, 1.2rem);
}

