main {
  color: white;
}

main section {
  margin: var(--p-2);
  padding: var(--p-1);
  text-align: center;
  background-color: #000;
}

.section-header > * + *{
  margin-block-end: 30px;
  margin-top: 18px;
}

@media (width >= 1024px) {
  main section {
    max-width: 1536px;
    min-height: 90vh;
    margin-inline: auto;
  }
}
